body {
   background-color: #aeaae7;
   font-family: sans-serif;
}


h3 {
   font-family: "Sekuya", sans-serif;
   font-weight: 1000;
   font-style: normal;
   font-size: 40px
}

.darkmode {
   background-color: #484572;
}

header {
   margin: 0.5rem;
   display: flex;
   justify-content: space-between;
   gap: 1rem;
}

h1 {
   flex-grow: 1;
}

/* btn-modo no puede ser un boton, por tanto es un div */
#btn-modo {
   display: inline-block;
}

#btn-modo:hover {
   cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Sekuya&display=swap');

p { 
   color: #24264f;
}
article {
   background-color: #ffffff;
   border: 5px solid #f2c572;
   max-width: 50%;
   border-radius: 6px;
   padding: 1rem;
   max-width: 30vw;
   display: flex;
   flex-direction: column;
}

article img {
   align-self: center;
}

section {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;

}

#titulo {
   text-align: center;
}