<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de {{ item.nombre }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detalle.css') }}">
</head>

<body>
    <header>
        <!--  Encabezado -->
        <h1 id="titulo"> Gestor de videojuegos </h1>
        <div id="btn-modo">
            <img hidden id="sol" src="{{ url_for('static', filename='img/sol.png') }}" height="60" width="60">
            <img id="luna" src="{{ url_for('static', filename='img/luna.png') }}" height="60" width="60">
        </div>
    </header>

    <div id="Minecraft">
        <h3>{{ item.nombre }}</h3>
        <img id="imagen" width="200" src="{{ url_for('static', filename='img/' + item.imagen) }}" alt="{{item.imagen}}">
        <h4>Descripción: {{ item["Descripción"] }}</h4>
        <li>Estado: {{'Completado' if item.completado == 1 else 'No completado'}}</li>
        <script src="{{ url_for('static', filename='js/noche.js') }}"></script>
    </div>
</html>