<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de {{ item.nombre }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<header>
        <!--  Encabezado -->
        <h1 id="titulo"> Gestor de videojuegos </h1>
        <div id="btn-modo">
            <img hidden id="sol" src="{{ url_for('static', filename='img/sol.png') }}" height="60" width="60">
            <img id="luna" src="{{ url_for('static', filename='img/luna.png') }}" height="60" width="60">
        </div>
</header>

<body>
    <h3>{{ item.nombre }}</h2>
    <img width="200" src="{{ url_for('static', filename='img/' + item.imagen) }}"alt="{{item.imagen}}">
    <h4>Descripción: {{ item["Descripción"] }}</h4>
    <script src="{{ url_for('static', filename='js/noche.js') }}"></script>
</body>

</html>