<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Proyecto Grupal</title>
</head>

<body>

    <header>
        <!--  Encabezado -->
        <h1 id="titulo"> Gestor de videojuegos </h1>
        <div id="btn-modo">
            <img hidden id="sol" src="{{ url_for('static', filename='img/sol.png') }}" height="60" width="60">
            <img id="luna" src="{{ url_for('static', filename='img/luna.png') }}" height="60" width="60">
        </div>
    </header>

    <main>
        <h2>Sección de la Colección: Listado de mis objetos favoritos.</h2>
        <div id="btn-scale">
            <button id="champiñon" type="button">Escalar</button>
        </div>
        <section>
            <!-- Aquí va el cuerpo de la página -->
            {% for item in items %}
                <article>
                    <!-- Primer elemento de la colección -->
                    <div>
                        <img width="200" src="{{ url_for('static', filename='img/' + item.imagen) }}"
                            alt="{{item.imagen}}">
                    </div>
                    <h3>{{ item.nombre }}</h3>
                    <p>{{ item["Descripción"] }}</p>
                    <ul>
                        <li>Tiempo Estimado: {{ item.tiempo_estimado }}</li>
                        <li>Nota Media: {{ item.nota_media }}/10</li>
                        <li>Tipo: {{ item.tipo }}</li>
                    </ul>
                    <a href="https://minecraft.net">Más información</a>
                    <span class="borrar">x</span>

                </article>
            {% endfor %}
        </section>
    </main>

    <dialog id="dialog-borrar">
        <h3>¿Estás seguro?</h3>
        <button id="borrar-si">Sí</button>
        <button id="borrar-no">No</button>
    </dialog>

    <footer>
        <!-- Pie de página -->
        Pie de página: Creado por Carlos, Cristian y Elio.
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/borrar.js') }}"></script>
</body>

</html>