header {
   margin: 0.5rem;
   display: flex;
   justify-content: space-between;
   gap: 1rem;
}

#Minecraft {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    gap: 1rem;
    padding: 1rem;
}
.darkmode{
#imagen{
      filter:invert(1)
}
#Minecraft {color: #dfdfdf;
}
#titulo{
   color: #dfdfdf !important;
   text-decoration: none;
}
a {
    color: #18b9b1
}
}